* {
  box-sizing: border-box;
}

:focus {

}

body {
  
}

input {
 /* TODO */
}

.search-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  position: relative;
  
}
.search-container input,
.search-container .suggestions {
  /* TODO */
}
.search-container input {
 /* TODO */
}
.search-container .suggestions {
   /* TODO */
}

ul {
  /* TODO */
}
ul.has-suggestions {
  /* TODO */
}
ul li {
  list-style: none;
}
ul li:hover {
  background: #efefef;
}

input {
   /* TODO */
}